.default {
    height: 100vh;
}

.separator {
    background: rgb(0, 0, 0);
    width: 2px;
    cursor: col-resize;
}

.separator:hover {
    background: rgb(128, 128, 128);
}

.separator:active {
    background: rgb(64, 64, 64);
}